

.only_mobile{
    display: none;
}

.only_desktop{
    display: block;
}

.chat, .email, .central{
    grid-column: span 3;
    border: none;
}

.info, .user {
    grid-column: span 4;
}

.logo {
    grid-column: span 4;
}

.contato{
    grid-column: span 3;
}

.form_cell_left{
    grid-column: span 5;
}

.form_cell_right{
    grid-column: span 7;
}

.modal {
    width: 70%;
    height: 70%;
}

.formulario{
    height: 140px;
    width: 500px;
}

.tabela{
    height: 180px;
}


.linha{
    grid-template-columns: 22px 120px 1fr 1fr;
}

.celula_checkbox{
    grid-column: 1/2;
    grid-row: 1/2;
}

.celula_logo{
    grid-column: 2/3;  
    grid-row: 1/2;  
}

.celula_curso{
    grid-column: 3/4;  
    grid-row: 1/2;  
}

.celula_valor{
    grid-column: 4/5;  
    grid-row: 1/2;  
    text-align: right;
}


.modal-footer{
    text-align: right;
}